.ohg-w-100 {
  width: 100%;
}

.ohg-d-flex {
  display: flex;
}

.ohg-d-inline-block {
  display: inline-block;
}

.ohg-flex-wrap {
  flex-wrap: wrap;
}

.ohg-align-items-center {
  align-items: center;
}

.ohg-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
